/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root{
    --black: #181f0d;
    --primary-color: #546f01;
    --secondary-color: #a4bc00;
    --background-color: #d8cabb;
    --buttons-color: #a88f6b;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background-color: var(--background-color);
    font-family: "DM Sans";
}

a:visited { /* Elimina el color del enlace al ser clickeado */
    color: inherit;
}

/* Header-NavBar */

.navbar{
    padding: 0;
    display: flex;
    height: 10vh;
    background-color: var(--primary-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
.container-fluid {
    background-color: var(--primary-color);
    height: 100%;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}


.navbar-nav li a {
    border-radius: 15px;
    color: var(--blanco);
    font-size: 17px;
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}


.navbar-nav li a:hover {
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.05);
}

/* BANNER */

#banner {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Imagen de fondo con color */
    background-image: url(../img/carrito-banner.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

#banner h1 {
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-family: 'Cormorant';
    text-align: center;
    color: white;
}

/* Shopping List */

.shopping-list {
    margin: 20px 120px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.5fr 1fr;
    gap: 15px 0;
}

.list-title {
    padding: 10px;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #181f0d;
    text-align: center;
    text-shadow: 0px 0px 20px var(--primary-color);
}

.product-list {
    display: flex;
    justify-content: space-between;
    background-color: var(--buttons-color);
    border-radius: 20px 0 0 20px;
}

.product-list h4 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-weight: 400;
    font-size: 20px;
}

.product-list img{
    margin-left: 30px;
    height: 101px;
    padding: 3px;
}

.product-cost {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--buttons-color);
}

.product-cost span {
    margin-left: 5px;
}

.product-count {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--buttons-color);
}

.product-total {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--buttons-color);
    border-radius: 0 20px 20px 0;
}

.product-total span{
    margin-left: 5px;
}

.delete-item {
    position: absolute;
    right: 90px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 60px;
    border: 1px solid var(--black);
    cursor: pointer;
    box-shadow: 1px 1px 3px var(--black);
}

.delete-item:hover{
    color: white;
    background-color: var(--primary-color);
    transition: 0.3s ease;
}

/* Overview */

.buy-overview {
    margin: 0px 70px;
    margin-top: 100px;
    height: auto;
    margin-bottom: 20px;
    background-color: var(--buttons-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.payment-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-right: 120px; */
    width: 35vw;
}

.payment-container p {
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.payment-information span {
    margin-left: 5px;
}

#sub-total {
    font-weight: 700;
}

#shipping-text {
    border-bottom: 1px solid var(--black);
}

#shipping-cost {
    font-weight: 700;
    border-bottom: 1px solid var(--black);
}

#total-text {
    display: block;
    margin-right: 75px;
}

#total-cost {
    padding: 0;
    margin-top: 10px;
    margin-right: 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    height: 50px;
    width: auto;
    flex-grow: 1;
    box-shadow: 1px 1px 5px var(--black);
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s ease;
    color: white;
}

#total-cost:hover {
    background-color: var(--secondary-color);
}

.payment-final {
    display: flex;
    justify-content: space-between;
}

/* Footer */

footer {
    height: 70px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h4 {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

#social-media {
    display: flex;
    align-items: center;
}

#social-media p {
    margin: 0;
}

#social-media ul {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    list-style: none;
    display: flex;
}

#social-media li {
    margin-left: 20px;
}